MDS/venv
app_package/mds_core/.env
app_package/mds_core/config.py
app_package/mds_core/blueprints/config_switcher.py

__pycache__/
*.py[cod]
*.log
*.env

app_package/mds_frontend/node_modules
app_package/mds_frontend/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
